<header>
	<div class="wrapper">
		<div class="logo">
			<img class = "logo_image" src="{% static 'images/Manas_logo.png' %}" alt="Manas Logo">
		</div>
		<div class="navigation-wrapper">
			<ul class = "navigation">
				<li class = "item"><a class = "nav-link" href="">Задачи</a></li>
				<li class = "item"><a class = "nav-link" href="">Мои Задачи</a></li>
				<li class = "item"><a class = "nav-link" href="">Вход</a></li>
			</ul>
		</nav>
	</div>
	<h1 class = "site_name">SQL Tester</h1>
	<div class="clearfix"></div>
</header>
<div style="height: 65px"></div>