{% extends 'base.html' %}
{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <div class="wrapper">
        <div class="form-wrapper">
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                <p>
                    {{ form.username.errors }}
                    <input class="user-input" type="text" name="username" maxlength="150" autofocus=""
                       required="" id="id_username" placeholder="Username">
                </p>
                {{ form.email.errors }}
                <p>
                    <input class="user-input" type="email" name="email" maxlength="254"
                       id="id_email" placeholder="Email">
                </p>
                <p>
                    <input class="user-input" type="text" name="first_name" maxlength="30"
                       id="id_first_name" placeholder="First name">
                </p>
                <p>
                    <input class="user-input" type="text" name="last_name" maxlength="150"
                       id="id_last_name" placeholder="Last name">
                </p>
                {{ form.password1.errors }}
                {{ form.password2.errors }}
                <p>
                    <input class="user-input" type="password" name="password1" autocomplete="new-password" required=""
                       id="id_password1" placeholder="password">
                </p>
                <p>
                    <input class="user-input" type="password" name="password2" autocomplete="new-password" required=""
                       id="id_password2" placeholder="Confirm password">
                </p>
                <p><button type="submit" class="submit-button">Sign Up</button></p>
            </form>
        </div>
    </div>
{% endblock content %}
